:root{
    --color-rojo: #FF0000;
    --color-blanco: #FFFF;
    --color-fondo: #EBEBEB;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-fondo);
}
.navmenu{
    background-color: var(--color-rojo);
    height: 100px;
}
.col h5{
    color: var(--color-blanco);
}
.icono{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 25px;
}
.carrito{
    padding-top: 35px;
}
.container{
    margin-top: 70px;
}
.card{
    margin-right: 30px;
}
.card .btn{
    background-color: var(--color-rojo);
    color: var(--color-blanco);
}
.card .desc{
    display:none;
}
.card:hover .desc{
   display: block;
}
.list{
    text-decoration: none;
    list-style: none;
    width: 50px;
    float: right;
    text-decoration-color: black;
}